* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  max-width: 100%;
  height: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.green {
  background-color: rgb(40, 141, 37);
}

.car {
  height: 10rem;
}
