* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  max-width: 1550px;
  height: 969px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.green {
  background-color: rgb(40, 141, 37);
}

.car {
  height: 10rem;
  position: absolute;
}

.north {
  transform: rotate(-90deg);
}

.south {
  transform: rotate(90deg);
}

.west {
  transform: rotate(180deg);
}
